.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../../assets//rb_9153.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logincard {
  width: 900px;
  height: 500px;
  background-color: var(--trasnparent-color);
  display: flex;
  box-shadow: 0px 0px 5px 0.8px var(--primary-color);
  border-radius: 15px;

  > .applogo {
    display: none;
  }
}

.login-banner {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--trasnparent-color);

  align-items: center;
  position: relative;

  > img {
    width: 90%;
    height: 60%;
    border-radius: 15px;
  }
}

.over-lap {
  background: #0b7bea72;
  position: absolute;
  height: 60%;
  width: 90%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;

  > :first-child,
  :nth-child(2) {
    color: var(--primary-color);
  }

  > :last-child {
    color: #fff;
  }
}
.login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: var(--trasnparent-color);

  > .normal-txt {
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
  }

  > input {
    width: 80%;
    border-radius: 10px;
    outline: none;
    border: var(--primary-color) 1px solid;
    padding: 10px;
    color: rgb(255, 166, 0);
    font-size: 15px;
  }

  > input::placeholder {
    color: var(--primary-color);
  }

  > .btn {
    background: var(--primary-color);
    width: 50px;
    height: 50px;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }

  .otp-txt {
    text-align: center;
  }

  .chng-phn {
    margin-top: 30px;
    text-decoration: underline;
    cursor: pointer;
    color: var(--primary-color);
  }
  .inp-otp {
    margin-top: 30px;
    width: 30%;
    text-align: center;
  }
  .inp-otp::placeholder {
    /* Center the placeholder text */
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .logincard {
    width: 100%;
    height: 100%;
    display: flex;
    box-shadow: none;
  }
}
@media (max-width: 780px) {
  .container {
    background-image: none;
    margin-bottom: 80px;
  }
  .logincard {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: none;
    align-items: center;
    border-radius: 0;

    > .applogo {
      display: flex;
      width: 100%;
      height: 150px;
      margin: 15px 0;
      justify-content: center;
      align-items: center;

      > img {
        width: auto;
        height: 100%;
        border-radius: 100%;
      }
    }
  }

  .login-banner {
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: self-start;
    border-radius: 0;
    z-index: 5;
    > img {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }

  .over-lap {
    background: #0b7bea72;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .login-info {
    z-index: 10;
    margin-top: -70px;
    border-radius: 15px;
    width: 80%;
    height: 220px;
    box-shadow: 0px 0px 3px 0.6px #00000072;
    background: #fff;
    position: relative;

    > input {
      margin-bottom: 40px;
    }

    .inp-otp {
      margin-top: 10px;
      margin-bottom: 0;
      width: 30%;
      text-align: center;
    }

    > .btn {
      position: absolute;
      bottom: -25px;
    }

    .chng-phn {
      margin-bottom: 50px;
    }
  }
}
